<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регістрація</title>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <form th:method="POST" th:action="@{/auth/registration}" th:object="${person}" enctype="multipart/form-data">
      <label for="name">Введіть ім'я</label>
      <input type="text" th:field="*{name}" id="name">
      <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Проблема з ім'ям</div>
      <br>
      <label for="surname">Введіть прізвище</label>
      <input type="text" th:field="*{surname}" id="surname">
      <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Проблема з прізвищем</div>
      <br>
      <label for="username">Введіть ім'я користувача</label>
      <input type="text" th:field="*{username}" id="username">
      <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Проблема з ім'ям користувача</div>
      <br>
      <label for="phone">Введіть номер телефону</label>
      <input type="text" th:field="*{phone}" id="phone">
      <div style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Проблема з номером телефону</div>
      <br>
      <label for="email">Введіть пошту</label>
      <input type="text" th:field="*{email}" id="email">
      <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Проблема з поштою</div>
      <br>
      <label for="person_password">Введіть пароль</label>
      <input type="password" th:field="*{person_password}" id="person_password">
      <div style="color: red" th:if="${#fields.hasErrors('person_password')}" th:errors="*{person_password}">Проблема з паролем</div>
      <br>
      <label for="file">Виберіть картинку</label><br>
      <input type="file" name="file" id="file" accept="image/*">
      <br><br>
      <input type="submit" value="Зареєструватися">
  </form>
</body>
</html>
