<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Paypal Payment Integration</h1>
        <form th:method="POST" th:action="@{/payment/create/{sum}(sum = ${sum})}" class="mt-5 card p-3">
            <h1 th:text="${sum}"></h1>
            <button type="submit" class="btn btn-primary">Pay with Paypal</button>
        </form>
    </div>
</body>
</html>