<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="stylesheet" type="text/css" href="/css/adminHeader.css">
    <link rel="stylesheet" type="text/css" href="/css/adminMain.css">
</head>
<body>
    <div th:insert="admin/adminHeader :: header"></div>

    <main class="main">
        <div class="restaurantInfoEdit">
            <p class="restaurant_number" th:text="'Ресторан №' + ${restaurant.getId()}">Ресторан №1</p>
            <p class="info" th:text="${restaurant.getCityId().getName()}">Маріуполь</p>
            <p class="info" th:text="${restaurant.getAddress()}">Вул.Шаргородська 4</p>
            <form th:method="POST" th:action="@{/admin/restaurantEdit}" th:object="${restaurant}">
                <div class="field_block">
                    <label for="phone"></label>
                    <input class="field" type="text" th:field="*{phone}" id="phone" placeholder="Телефон"><br>
                </div>
                <div class="field_block">
                    <label for="email"></label>
                    <input class="field" type="email" th:field="*{email}" id="email" placeholder="Електронна адреса"><br>
                </div>
                <input class="find_button" type="submit" value="Зберегти">
            </form>

            <form class="find_person" th:method="POST" th:action="@{/admin/filter}">
                <label for="phoneU"></label>
                <div class="field_image">
                    <input class="field" type="text" name="phone" id="phoneU" placeholder="Знайти людину:">
                    <button class="button" type="submit"><img class="buttonImage" src="/images/arrow-right-short.png" alt=""></button>
                </div>
            </form>
            <div th:if="${!people.isEmpty()}" th:each="p : ${people}">
                <a th:href="'/admin/person/' + ${p.getId()} + '/orders'">
                    <p class="finded_person" th:text="${p.getName()} + ' ' + ${p.getSurname()}">Ілля Камаралі</p>
                </a>
                <br>
            </div>
        </div>

        <div class="adminsInfoEdit">
            <div class="title_justify">
                <p class="title">Інформація про адміністратора</p>
            </div>
            <div class="form_justify">
                <form th:method="POST" th:action="@{/admin/adminEdit}" th:object="${admin}">
                    <div class="field_block">
                        <label for="name"></label>
                        <input class="field" type="text" th:field="*{name}" id="name" placeholder="Введіть ім'я">
                        <br>
                    </div>

                    <div class="field_block">
                        <label for="surname"></label>
                        <input class="field" type="text" th:field="*{surname}" id="surname" placeholder="Введіть прізвище">
                        <br>
                    </div>

                    <div class="field_block">
                        <label for="username"></label>
                        <input class="field" type="text" th:field="*{username}" id="username" placeholder="Введіть ім'я користувача">
                        <br>
                    </div>

                    <div class="field_block">
                        <label for="adminPhone"></label>
                        <input class="field" type="text" th:field="*{phone}" id="adminPhone" placeholder="Введіть номер телефону">
                        <br>
                    </div>

                    <div class="field_block">
                        <label for="adminEmail"></label>
                        <input class="field" type="text" th:field="*{email}" id="adminEmail" placeholder="Введіть пошту">
                        <br>
                    </div>

                    <div class="field_block">
                        <label for="person_password"></label>
                        <input class="field" type="text" th:field="*{person_password}" id="person_password" placeholder="Введіть пароль">
                        <br>
                    </div>
                    <input class="find_button" type="submit" value="Підтвердити">
                </form>
            </div>
        </div>
    </main>

</body>
</html>