<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <style>
        .buttons {
            display: grid;
            grid-row-gap: 10px;
            width: 120px;
            text-align: center;
            box-shadow:
        }

        a {
            text-decoration: none;
            padding:10px;
            background: blue;
            color: white;
            border-radius: 20px;
            box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
        }


    </style>
</head>
<body>
    <main>
        <div class="buttons">
            <a href="admin/orders">Замовлення</a>
            <a href="/admin/my_restaurant">Мій ресторан</a>
        </div>
    </main>
</body>
</html>