<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <style>
        .main {
            display: grid;
            grid-template-columns: 40% 40%;
            grid-column-gap: 10%;
        }
    </style>
</head>
<body>
    <main class="main">
        <div class="restaurantInfoEdit">
            <h2 th:text="'Ресторан №' + ${restaurant.getId()}"></h2>
            <h4 th:text="${restaurant.getCityId().getName()}"></h4>
            <h4 th:text="${restaurant.getAddress()}"></h4>
            <form th:method="POST" th:action="@{/admin/restaurantEdit}" th:object="${restaurant}">
                <label for="phone">Телефон</label>
                <input type="text" th:field="*{phone}" id="phone"><br>
                <label for="email">Електронна адреса</label>
                <input type="email" th:field="*{email}" id="email">
                <br>
                <input type="submit" value="Підтвердити">
            </form>
            <form th:method="POST" th:action="@{/admin/filter}">
                <label for="phoneU">Знайти людину:</label>
                <input type="text" name="phone" id="phoneU">
                <input type="submit" value="Пошук">
            </form>
            <div th:if="${!people.isEmpty()}" th:each="p : ${people}">
                <a th:href="'/admin/person/' + ${p.getId()} + '/orders'">
                    <p th:text="${p.getName()} + ' ' + ${p.getSurname()}"></p>
                </a>
                <br>
            </div>
        </div>
        <div class="adminsInfoEdit">
            <form th:method="POST" th:action="@{/admin/adminEdit}" th:object="${admin}">
                <label for="name">Введіть ім'я</label>
                <input type="text" th:field="*{name}" id="name">
                <br>
                <label for="surname">Введіть прізвище</label>
                <input type="text" th:field="*{surname}" id="surname">
                <br>
                <label for="username">Введіть ім'я користувача</label>
                <input type="text" th:field="*{username}" id="username">
                <br>
                <label for="adminPhone">Введіть номер телефону</label>
                <input type="text" th:field="*{phone}" id="adminPhone">
                <br>
                <label for="adminEmail">Введіть пошту</label>
                <input type="text" th:field="*{email}" id="adminEmail">
                <br>
                <label for="person_password">Введіть пароль</label>
                <input type="text" th:field="*{person_password}" id="person_password">
                <br>
                <input type="submit" value="Підтвердити">
            </form>
        </div>
    </main>
</body>
</html>