<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class = "whole_body">
    <div class = "image_container">
        <img class = "image_fill" src="" alt="500_image">
    </div>
    <div class = "code_container">
        <p class = "error_code">
            500
        </p>
    </div>
    <div class = "text_container">
        <p class = "error_text">
            Sorry, something went wrong...
            We are trying to fix it!
        </p>
    </div>
</div>
</body>
</html>