<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>401</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class = "whole_body">
    <div class = "image_container">
        <img class = "image_fill" src="" alt="401_image">
    </div>
    <div class = "code_container">
        <p class = "error_code">
            401
        </p>
    </div>
    <div class = "text_container">
        <p class = "error_text">
            You need to authorize to open this page ;)
        </p>
    </div>
</div>
</body>
</html>