<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Особистий кабінет</title>
    <link rel="stylesheet" type="text/css" href="/css/accountS.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="user_container">
    <div class="user_navigation">
        <img style="width: 200px" th:src="@{'data:image/png;base64,' + ${logo}}" alt="">
        <div class="user_buttons">
            <a href="/my_info/edit"><input class="edit" type="submit" value="Редагувати дані" /></a>
            <a href="/my_info/orders"><input class="orders" type="submit" value="Мої замовлення" /></a>
            <form th:action="@{/logout}" th:method="POST">
                <input class="logout" type="submit" value="Вийти з аккаунту">
            </form>
            <form th:method="post" th:action="@{/my_info/delete}">
                <input class="delete" type="submit" value="Видалити обліковий запис" />
            </form>
        </div>
    </div>
    <div class="user_info">
        <h3 class="user_name" th:text="${person.getName()} + ' ' + ${person.getSurname()}">Імʼя Прізвище</h3>
        <h4 class="user_email" th:text="${person.getEmail()}">Пошта</h4>
        <h4 class="user_phone" th:text="${person.getPhone()}">Телефон</h4>
        <h4 class="user_username" th:text="${person.getUsername()}">Юзернейм</h4>
        <br><br>
        <div th:if="${not purchases.isEmpty()}" class="active_orders">
            <h2>Активні замовлення:</h2>
            <div th:each="p : ${purchases}">
                <div class="order_link">
                    <a class="zamovlennya" th:href="'/my_info/orders/' + ${p.getId()}" th:text="'Замовлення #' + ${p.getId()}">Замовлення #<span th:text="${p.getId()}"></span></a>
                    <p class="link_arrow">></p>
                </div>
            </div>
        </div>
        <div th:if="${purchases.isEmpty()}">
            <h2>Немає активних замовлень</h2>
        </div>
    </div>
</div>
</body>
</html>