<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Особистий кабінет</title>
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <link rel="stylesheet" type="text/css" href="/css/headS.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="back"></div>
<div th:insert="client/header :: header"></div>
<div class="hole_screen">
    <div class="main_div">
        <div class="all">
            <div class="hole_block">
                <div class="about_person">
                    <div class="about_person_grid">
                        <div class="image_justify">
                            <img class="person_image" th:src="@{'data:image/png;base64,' + ${logo}}" alt="">
                        </div>
                        <div class="person_info">
                            <p class="person_name" th:text="${person.getName()} + ' ' + ${person.getSurname()}"></p>
                            <p class="person_email" th:text="${person.getEmail()}"></p>
                            <p class="person_phone" th:text="${person.getPhone()}"></p>
                            <p class="person_username" th:text="${person.getUsername()}"></p>
                        </div>
                    </div>
                </div>

                <div class="person_buttons">
                    <div class="person_buttons_grid">
                        <a href="/my_info/edit">
                            <input class="button" type="submit" value="Редагувати дані" />
                        </a>

                        <form th:action="@{/logout}" th:method="POST">
                            <input class="button" type="submit" value="Вийти з аккаунту">
                        </form>

                        <form th:method="post" th:action="@{/my_info/delete}">
                            <input class="button" type="submit" value="Видалити обліковий запис" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="orders">
            <div class="active" th:if="${!activePurchases.isEmpty()}">
                <p class="orders_title">Активні замовлення</p>
                <div class="orders" th:each="ap : ${activePurchases}">
                    <div class="order">
                        <div class="number_of_order">
                            <p class="zamovlennya_text">Замовлення</p>
                            <p class="number_of_zamovlennya" th:text="'№' + ${ap.getId()}"></p>
                        </div>

                        <div class="status_of_order">
                            <p class="status_text">Статус</p>
                            <p class="status_of_zamovlennya" th:text="${ap.getStatus().getDisplayName()}"></p>
                        </div>

                        <div class="price_of_order">
                            <p class="price_text">Сума</p>
                            <p class="price_of_zamovlennya" th:text="${ap.getPrice()} + 'грн.'"></p>
                        </div>

                        <div class="link_button">
                            <a th:href="'/my_info/orders/' + ${ap.getId()}"><img class="arrow_link" src="/images/arrow.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ready" th:if="${!purchases.isEmpty()}">
                <p class="orders_title">Завершені замовлення</p>
                <div class="orders" th:each="p : ${purchases}">
                    <div class="order">
                        <div class="number_of_order">
                            <p class="zamovlennya_text">Замовлення</p>
                            <p class="number_of_zamovlennya" th:text="'№' + ${p.getId()}"></p>
                        </div>

                        <div class="status_of_order">
                            <p class="status_text">Статус</p>
                            <p class="status_of_zamovlennya" th:text="${p.getStatus().getDisplayName()}"></p>
                        </div>

                        <div class="price_of_order">
                            <p class="price_text">Сума</p>
                            <p class="price_of_zamovlennya"th:text="${p.getPrice()} + 'грн.'"></p>
                        </div>

                        <div class="link_button">
                            <a th:href="'/my_info/orders/' + ${p.getId()}"><img class="arrow_link" src="/images/arrow.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${activePurchases.isEmpty()}">
                <div th:if="${purchases.isEmpty()}">
                    <p class="no_purchases">Ще немає замовлень</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.burger').addEventListener('click', function() {
        this.classList.toggle('active');
        document.querySelector('.nav').classList.toggle('open');
    })
</script>
</body>
</html>