<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Стати власником</title>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="back"></div>
<div class="hole_screen">
    <div class="empty_area"></div>

    <div class="registration">
        <div class="reg_block">
            <div class="reg_info">
                <div class="image_block">
                    <img class="logo" src="/logo/logo.png" alt="">
                </div>

                <p class="title">Стати власником</p>

                <div class="registration_form">
                    <form th:method="POST" th:action="@{/add_owner}" th:object="${person}" enctype="multipart/form-data">
                        <div class="field_block">
                            <label for="name"></label>
                            <input type="text" th:field="*{name}" id="name" class="field" placeholder="Введіть ім'я">
                            <div class="error" style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Проблема з ім'ям</div>
                        </div>
                        <br>

                        <div class="field_block">
                            <label for="surname"></label>
                            <input type="text" th:field="*{surname}" id="surname" class="field" placeholder="Введіть прізвище">
                            <div class="error" style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Проблема з прізвищем</div>
                        </div>
                        <br>

                        <div class="field_block">
                            <label for="username"></label>
                            <input type="text" th:field="*{username}" id="username" class="field" placeholder="Введіть ім'я користувача">
                            <div class="error" style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Проблема з ім'ям користувача</div>
                        </div>
                        <br>

                        <div class="field_block">
                            <label for="phone"></label>
                            <input type="text" th:field="*{phone}" id="phone" class="field" placeholder="Введіть номер телефону">
                            <div class="error" style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Проблема з номером телефону</div>
                        </div>
                        <br>

                        <div class="field_block">
                            <label for="email"></label>
                            <input type="text" th:field="*{email}" id="email" class="field" placeholder="Введіть пошту">
                            <div class="error" style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Проблема з поштою</div>
                        </div>
                        <br>

                        <div class="field_block">
                            <label for="person_password"></label>
                            <input type="password" th:field="*{person_password}" id="person_password" class="field" placeholder="Введіть пароль">
                            <div class="error" style="color: red" th:if="${#fields.hasErrors('person_password')}" th:errors="*{person_password}">Проблема з паролем</div>
                        </div>
                        <br>
                        <div class="button_block">
                            <input type="submit" value="Стати власником" class="registration_button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
