<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ресторани</title>
    <link rel="stylesheet" type="text/css" href="/css/head.css">
    <link rel="stylesheet" type="text/css" href="/css/contacts.css">
    <link rel="stylesheet" type="text/css" href="/css/footerS.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="back"></div>
<div th:insert="client/header :: header"></div>
<div class="hole_screen">

    <div class="all_info">
        <div style="padding-left: 20%; padding-right: 20%">
            <form id="searchForm" th:action="@{/contacts}" method="get">
                <label class="choose_city" for="city">Оберіть ваше місто:</label>
                <div class="sel">
                    <div class="select">
                        <select id="city" name="city">
                            <option value="">Всі</option>
                            <option th:each="city : ${cities}" th:value="${city.getName()}" th:text="${city.getName()}"></option>
                        </select>
                    </div>
                    <button class="filter_button" type="submit">Пошук</button>
                </div>
            </form>
            <br>

            <div class="address_container">
                <div class="address_link" th:each="r : ${restaurants}">
                    <div class="restaurant">
                        <div class="restaurant_info">
                            <p class="restaurant_number" th:text="'Ресторан №' + ${r.getId()}"></p>
                            <p class="restaurant_address" th:text="${r.getAddress()}"></p>
                        </div>
                        <a th:href="'/contacts/' + ${r.getId()}">
                            <img class="arrow" src="/images/arrow-right-short.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-container">
        <div id="map" class="map_class"></div>
    </div>
</div>
<div th:insert="client/footer :: footer"></div>

<script>
    document.querySelector('.burger').addEventListener('click', function() {
        this.classList.toggle('active');
        document.querySelector('.nav').classList.toggle('open');
    })
</script>
</body>
</html>
