<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
  <footer th:fragment="footer" class="footer">
      <div class="logo_and_corp_name">
          <img class="logo_footer" src="/logo/logo.png" alt="">
          <h3 class="corp_name">
              Biba and boba corp.
              All rights reserved
              2024©
          </h3>
      </div>
      <div class="social_media">
          <a href="#" class="facebook"><img src="/social/facebook2.png" alt=""></a>
          <a href="#" class="youtube"><img src="/social/youtube2.png" alt=""></a>
          <a href="#" class="twitter"><img src="/social/twitter2.png" alt=""></a>
          <a href="#" class="tiktok"><img src="/social/Tik_tok_logo.png" alt=""></a>
          <a href="#" class="instagram"><img src="/social/instagram2.png" alt=""></a>
      </div>
      <div class="payment">
          <img class="mastercard" src="/social/thumb_1916.png" alt="">
          <img class="visa" src="/social/thumb_2165.jpg" alt="">
      </div>
  </footer>
</body>
</html>