<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сброс паролю</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/resetPasswordS.css">
</head>
<body>
<div class="back"></div>
<div class="hole_screen">
    <div class="empty_area"></div>

    <div class="resetPass">
        <div class="reset_block">
            <div class="reset_info">
                <div class="image_block">
                    <img class="logo" src="/logo/logo.png" alt="">
                </div>

                <div class="title_block">
                    <p class="title">Скинути пароль</p>
                </div>

                <div class="reset_form">
                    <form th:method="post" th:action="@{/reset_password}">
                        <div class="field_block">
                            <label for="username"></label>
                            <input type="text" id="username" class="field" name="username" placeholder="Введите ваш никнейм" required/>
                        </div>
                        <div class="button_block">
                            <button class="reset_button" type="submit">Скинути пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>