<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <header>
        <a href="/">
            <div class="back_logo">
                <img src="/logo_crop.png" alt="" class="logo">
            </div>
        </a>
        <nav>
            <a href="/contacts">Контакты</a>
            <a href="/menu">Меню</a>
            <a href="#" class="account">Особистий кабінет</a>
            <a href="/about_us">Про нас</a>
            <a href="/map">Ми на карті</a>
        </nav>
        <div class="order-button">
            <a href="#">Замовити</a>
        </div>
    </header>
</div>
</body>
</html>
