<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <div class="wrapper">
        <header class="header">
            <a href="/">
                <div class="logo">
                    <img class="graficlogo" src="/logo/LogoFull.png" alt="">
                </div>
            </a>

            <nav class="nav">
                <div class="topnav">
                    <a href="/about_us">Про нас</a>
                    <a href="/contacts">Контакти</a>
                    <a href="/my_info">Особистій кабінет</a>
                    <a href="/map">Ми на карті</a>
                    <a href="/menu">Меню</a>
                </div>
            </nav>

            <div class="burger">
                <img class="menu" src="/images/menu.png"/>
                <img class="close" src="/images/close_cross.png"/>
            </div>
        </header>
    </div>
</div>
</body>
</html>
