<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="stylesheet" type="text/css" href="/css/headS.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:insert="client/header :: header"></div>
    <main>
        <div class="back"></div>
        <div class="main_info">
            <div class="block_one">
                <div class="text">
                    <h1>Незвично різні.</h1>
                    <h1>Легендарно, як завжди.</h1>
                    <p>Легендарний Біг Мак® відвідує велика сім'я: хрусткий курячий Біг Мак® та ситний Біг Мак® з беконом. Обидва трохи різні, але від цього не менш легендарні! Не хвилюйтеся, оригінальний Біг Мак®, звісно ж, усе ще доступний. Рішення стає трохи складнішим 😉PS: До речі, смак Біг Мак® тепер на короткий час доступний і у вигляді соусу - для вмочування, посипання і розтоплення.</p>
                    <a href=""><button>Переглянути зараз!</button></a>
                </div>
                <img class="block_img" src="/images/block1.png" alt="">
            </div>
            <div class="block_two">
                <img class="block_img" src="/images/block2.png" alt="">
                <div class="text">
                    <h1>Мистецтво насолоди.</h1>
                    <p>Коли ви востаннє свідомо насолоджувалися їжею? Досліджуєте кожну дрібницю із заплющеними очима і не думаєте ні про що, крім цього моменту? Відповідь: ненадовго. Справжній вірш: новий Signature New Grill зі 180 грамами яловичини з України.</p>
                    <a href=""><button>Переглянути зараз!</button></a>
                </div>
            </div>
        </div>
    </main>
    <div th:insert="client/footer :: footer"></div>
    <script>
        document.querySelector('.burger').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.nav').classList.toggle('open');
        })
    </script>
</body>
</html>