<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/mapStyleTwo.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="client/header :: header"></div>
<div th:insert="client/footer :: footer"></div>
<div id="map" class="map_class"></div>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 48.935852, lng: 31.468681 },
            zoom: 6,
        });
        const infowindow = new google.maps.InfoWindow();

        const serviceUrl = "http://localhost:8080/maps";

        fetch(serviceUrl)
            .then(response => response.json())
            .then(markers => {
                markers.forEach(marker => {
                    const { id, address, latitude, longitude } = marker;

                    const markerPosition = { lat: longitude, lng: latitude };

                    const newMarker = new google.maps.Marker({
                        map,
                        position: markerPosition
                    });

                    google.maps.event.addListener(newMarker, "click", () => {
                        const content = document.createElement("div");
                        const nameElement = document.createElement("h2");

                        nameElement.textContent = id;
                        content.appendChild(nameElement);

                        const placeIdElement = document.createElement("p");

                        placeIdElement.textContent = id;
                        content.appendChild(placeIdElement);

                        const placeAddressElement = document.createElement("p");

                        placeAddressElement.textContent = address;
                        content.appendChild(placeAddressElement);

                        infowindow.setContent(content);
                        infowindow.open(map, newMarker);
                    });
                });
            })
            .catch(error => console.error("Error fetching markers:", error));
    }

    window.initMap = initMap;
</script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHjH0Z1pCYmXr5y7AuHZgS-2rmU8VbOiQ&callback=initMap"
        async defer
></script>

<script>
    menu.onclick = function myFunc() {
        var x = document.getElementById("myTopnav");
        if(x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>