<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="client/header :: header"></div>
<div th:insert="client/footer :: footer"></div>
    <div class="container">
        <div class="item-container">
            <div th:each="item : ${items}">
                <a th:href="'/main/items/' + ${item.getId()}">
                    <div class="item">
                        <img th:src="'/images/' + ${item.getImage()}" class="item-image" alt="">
                        <div class="item-details">
                            <p th:text="${item.getName()}"></p>
                            <p th:text="${item.getPrice()}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<script>
    menu.onclick = function myFunc() {
        var x = document.getElementById("myTopnav");
        if(x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>
