<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Контактна інформація</title>
    <link rel="stylesheet" type="text/css" href="/css/headS.css">
    <link rel="stylesheet" type="text/css" href="/css/restDetails.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="back"></div>
<div th:insert="client/header :: header"></div>
<div class="hole_screen">
    <div class="block_left">
        <p class="title" th:text="'Ресторан №' + ${restContacts.getId()}">Ресторан №1</p>
        <div class="contact-info">
            <div class="address">
                <img class="img_address" src="/images/marker.png" alt="">
                <p th:text="${restContacts.getAddress()}">  Вул. Шаргородська 4</p>
            </div>
            <br>
            <div class="phone">
                <img class="img_phone" src="/images/phone.png" alt="">
                <p th:text="${restContacts.getPhone()}">+380(98)-453-67-21</p>
            </div>
            <br>
            <div class="mail">
                <img class="img_mail" src="/images/mail.png" alt="">
                <a th:href="'mailto:' + ${restContacts.getEmail()}" th:text="${restContacts.getEmail()}">fastandfoodycorp@gmail.com</a>
            </div>
            <br>
            <div class="timetable">
                <p class="text_timetable">Графік роботи</p>
                <div class="week_timetable">
                    <p>Понеділок 08:00 - 20:00</p>
                    <p>Вівторок 08:00 - 20:00</p>
                    <p>Середа 08:00 - 20:00</p>
                    <p>Четвер 08:00 - 20:00</p>
                    <p>П’ятниця 08:00 - 20:00</p>
                    <p>Субота 09:00 - 17:00</p>
                    <p>Неділя 10:00 - 15:00</p>
                </div>
            </div>

            <input type="hidden" id="restContactId" th:value="${restContacts.getId()}" />
            <input type="hidden" id="restLat" th:value="${restContacts.getCityId().getLatitude()}" />
            <input type="hidden" id="restLon" th:value="${restContacts.getCityId().getLongitude()}" />
        </div>
    </div>

    <div class="map-container">
        <div id="map" class="map_class"></div>
    </div>
</div>
<div th:insert="client/footer :: footer"></div>
<script>
    function fetchData(url) {
        // Возвращаем результат вызова fetch
        return fetch(url)
            .then(response => {
                // Проверяем успешность ответа
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Возвращаем парсинг JSON
                return response.json();
            })
            .catch(error => {
                // Обрабатываем ошибки fetch
                console.error('Fetch error:', error);
                // Возвращаем пустой массив или другое значение по умолчанию при ошибке
                return [];
            });
    }

    const restContactId = document.getElementById("restContactId").value;
    const link = `http://localhost:8080/maps/${restContactId}`

    const marker = fetchData(link);
    fetchData(link)
        .then(marker => {
            console.log(marker); // Здесь можно обрабатывать данные marker
        });

    const { id, address, latitude, longitude } = marker;

    function initMap() {
        const cityLon = parseFloat(document.getElementById("restLon").value);
        const cityLat = parseFloat(document.getElementById("restLat").value);

        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: cityLon, lng: cityLat },
            zoom: 12,
        });
        const infowindow = new google.maps.InfoWindow();

        fetch(link)
            .then(response => response.json())
            .then(marker => {
                const { id, address, latitude, longitude } = marker;

                const markerPosition = { lat: longitude, lng: latitude };

                const newMarker = new google.maps.Marker({
                    map,
                    position: markerPosition
                });
            })
            .catch(error => console.error("Error fetching marker:", error));

    }

    window.initMap = initMap;
</script>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHjH0Z1pCYmXr5y7AuHZgS-2rmU8VbOiQ&callback=initMap"
        async defer
></script>

<script>
    document.querySelector('.burger').addEventListener('click', function() {
        this.classList.toggle('active');
        document.querySelector('.nav').classList.toggle('open');
    })
</script>
</body>
</html>
