@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.back {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    filter: blur(5px);
    z-index: -5;
    background-color: black;
    opacity: 0.8;
}

.block_1, .block_2 {
    position: relative;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 5vw;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.block_1 img, .block_2 img {
    width: 650px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #eeeeee;
    font-size: 25px;
}

.title {
    font-size: 45px;
}

.text_info {
    border-top: 2px solid #eeeeee;
    text-align: left;
}

.hole_screen {
    padding-top: 20px;
    justify-content: center;
}

.map_class {
    margin-top: 100px;
    margin-bottom: 200px;
}

@media screen and (max-width: 1600px) {
    .block_1 img, .block_2 img {
        width: 450px;
    }

    .block_1, .block_2 {
        margin-left: 7vw;
    }

    .title {
        font-size: 35px;
    }

    .text {
        font-size: 17px;
    }
}
