@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.back {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    filter: blur(5px);
    z-index: -5;
    background-color: black;
    opacity: 0.8;
}

.hole_screen {
    display: flex;
    justify-content: center;
    width: 80%;
}

.main_div {
    display: grid;
    grid-template-columns: 40% 20%;
    grid-column-gap: 5vw;
}

.all {
    display: flex;
    width: 700px;
    height: 100vh;
    background-color: #eeeeee;
    justify-content: center;
}

.hole_block {
    margin-top: 10vh;
}

.about_person {
    display: block;
    align-items: center;
}

.about_person_grid {
    display: grid;
    grid-template-columns: 37% 20%;
    grid-column-gap: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    padding-top: 1vh;
}

.person_image {
    width: 200px;
    height: 200px;
}

.person_phone, .person_email, .person_username {
    font-weight: 300;
    font-size: 16px;
}

.person_buttons_grid {
    display: grid;
    grid-row-gap: 3vh;
    padding: 4vh 1vw;
}

.button {
    background-color: #e39600;
    border: none;
    width: 504px;
    height: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #eeeeee;
    border-radius: 12px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}

.button:hover {
    transform: scale(1.1);
}

.orders {
    margin-top: 5vh;
}

.orders_title, .no_purchases {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    white-space: nowrap;
}

.no_purchases {
    margin-left: 5vw;
}

.order {
    display: flex;
    width: 1000px;
    height: 130px;
    background-color: #e39600;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.number_of_order, .status_of_order, .price_of_order, .link_button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
}

.zamovlennya_text, .status_text, .price_text {
    color: #eeeeeed3;
    font-size: 24px;
}

.arrow_link {
    width: 60px;
    transition: ease-in 0.3s;
}

.arrow_link:hover {
    align-items: center;
    transform: scale(1.3);
}

@media screen and (max-width: 1600px) {
    .hole_screen {
        width: 90%;
    }

    .all {
        width: 450px;
    }
    .about_person {
        display: flex;
        justify-content: center;
    }

    .image_justify {
        display: flex;
        justify-content: center;
    }

    .hole_block {
        margin-top: 5vh;
    }

    .button {
        background-color: #e39600;
        border: none;
        width: 300px;
        height: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #eeeeee;
        border-radius: 12px;
        transition: 0.3s ease;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
    }

    .person_image {
        width: 220px;
        height: 220px;
        margin-bottom: 30px;
    }

    .about_person_grid {
        display: block;
        text-align: left;
    }
}
