@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #eeeeee;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: black;
    cursor:pointer;
    font-size: 25px;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 550px;
    height: 50px;
    line-height: 3;
    background: #eeeeee;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.select::after {
    content: '\25BE';
    transform: scale(1.5);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #eeeeee;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}


.restaurant_number, .restaurant_address {
    font-size: 30px;
}

.restaurant_info {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #eeeeee;
}

.restaurant_number {
    margin-bottom: 5px;
}

.restaurant_address {
    margin-top: 5px;
}

.restaurant {
    display: flex;
    align-items: center;
    width: 550px;
    height: 123px;
    justify-content: space-between;
    border-bottom: 3px solid #eeeeee;
}

.arrow {
    width: 60px;
    height: 60px;
    transition: ease 0.2s;
}

.arrow:hover {
    transform: scale(1.2);
}

.choose_city {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #eeeeee;
}

.filter_button {
    border: none;
    height: 50px;
    width: 80px;
    border-radius: 0 10px 10px 0;
    background-color: #E39600;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.sel {
    display: flex;
}

.back {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    filter: blur(5px);
    z-index: -5;
    background-color: black;
    opacity: 0.8;
}

.all_info {
    padding-top: 20px;
}

.hole_screen {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 5vw;
    padding-bottom: 200px;
}

.address_container {
    height: 500px;
    overflow-y: auto;
    width: 650px;
    scrollbar-width: thin;
    scrollbar-color: #E39600 #EEEEEE;
}

#map, #mapFilter {
    border-radius: 30px;
}

@media screen and (min-width: 1600px) {
    .map_class, .mapFilter_class {
        height: 45vh;
        width: 45vw;
        margin-top: 2vh;
    }
}

@media screen and (max-width: 1600px) {
    .map_class, .mapFilter_class {
        height: 45vh;
        width: 45vw;
        margin-top: 2vh;
    }

    .restaurant {
        width: 350px;
    }

    .restaurant_number, .restaurant_address {
        font-size: 20px;
    }

    .arrow {
        width: 45px;
        height: 45px;
    }

    select {
        font-size: 20px;
    }

    .select {
        width: 400px;
    }

    .choose_city {
        font-size: 25px;
    }

    .address_container {
        height: 300px;
        overflow-y: auto;
        width: 450px;
    }
}
