@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.back {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    filter: blur(5px);
    z-index: -5;
    background-color: black;
    opacity: 0.8;
}

.hole {
    display: flex;
    justify-content: center;
}

.hole_screen_back {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    height: 100vh;
    width: 80vw;
}

.hole_screen {
    display: grid;
    grid-template-columns: 30% 50%;
    grid-column-gap: 20vw;
    margin-top: 10vh;
}

.one_justify {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.one_align {
    display: block;
    align-items: center;
}

.person_image {
    width: 385px;
    height: 385px;
}

.upload_file {
    display: none;
}

.label_justify {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.label_file, .file_button {
    display: flex;
    justify-content: center;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    width: 250px;
    background-color: #e39600;
    padding: 10px 15px;
    border-radius: 10px;
}

.border_justify {
    display: flex;
    justify-content: center;
}

.file_button {
    /*width: 278px;*/
    border: none;
}

.input {
    display: block;
    margin: 40px 0;
}

.p_field {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
}

.input_field {
    border: none;
    width: 700px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0 10px;
}

.button_div {
    display: flex;
    justify-content: center;
}

.button_confirm {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #eeeeee;
    background-color: #e39600;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}

.label_file, .file_button, .button_confirm {
    transition: ease-in 0.2s;
}

.label_file:hover, .file_button:hover, .button_confirm:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 2100px) {
    .hole_screen {
        margin-top: 5vh;
    }

    .input {
        margin: 20px 0;
    }

    .person_image {
        width: 200px;
        height: 200px;
    }

    .label_file, .file_button {
        font-size: 17px;
        width: 170px;
    }

    .input_field, .button_confirm {
        width: 400px;
        height: 40px;
        font-size: 17px;
    }
}