.footer {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -4px 13px  grey;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    bottom: 0;
    position: fixed;
}

.logo_footer {
    width: 82px;
}

.corp_name {
    width: 209px;
    font-size: 19px;
    padding: 0 5px;
}

.logo_and_corp_name {
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.social_media {
    position: absolute;
    display: flex;
    align-items: center;
}

.social_media a {
    width: 50px;
    height: 50px;
    transition: 0.4s ease;
}

.social_media a:hover {
    transform: scale(1.3);
}

.payment {
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: right;
}

.payment img {
    width: 100px;
    height: 60px;
}