body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0.5px 10px grey
}

.logo {
    background: blanchedalmond;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dddddd;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #007bff;
    color: #fff;
}

.icon {
    display:none;
}

.order-button {
    margin-top: 30px;
}

.order-button a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    border: none;
    transition: background-color 0.3s;
}

.order-button a:hover {
    background-color: #218838;
}

@media screen and (min-width: 1300px) and (max-width: 1600px) and
(max-height: 1000px) {
    header {
        width: 300px;
        height: 90vh;
        border-radius: 0 15px 15px 0;
    }

    nav a {
        display: block;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) and
(max-height: 900px) {
    header {
        width: 300px;
        height: 90vh;
        border-radius: 0 15px 15px 0;
    }

    nav a {
        display: block;
    }
}

@media screen and (min-width: 450px) and (max-width: 680px) {
    header {
        height: 100px;
    }

    .topnav a {
        display: none;
    }

    .logo {
        float: left;
        margin: 15px 0 0 15px;
        background: blanchedalmond;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 7px;
        text-align: center;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    header {
        height: 60px;
    }

    .topnav a {
        display: none;
    }

    .logo {
        float: left;
        margin: 0 0 0 15px;
        background: blanchedalmond;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 7px;
        text-align: center;
    }

    .topnav a.icon {
        float: right;
        display: block;
        margin-right: 5vw;
        margin-top: -15px;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
