html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.open{
    display: flex !important;
}

.nav a {
    text-decoration: none;
    color: #eeeeee;
}


.nav a:hover {
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background: linear-gradient(to right, rgba(255,253,239,1),
    rgba(255,169,13,1));
    box-shadow: 0 4px 13px  grey;
    padding: 0 40px;
}

.graficlogo{
    justify-content: center;
    width: 500px;
    padding: 15px;
}

.nav{
    display: flex;
    width: 700px;
    padding: 0 40px;
}

.nav div{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.nav {
    display: none;
}

.burger .close {
    display: none;
}

.burger.active .menu {
    display: none;
}

.burger.active .close {
    display: block;
    z-index: 50;
}

.nav.open {
    display: block;
}

.nav.open a {
    display: block;
}

.burger {
    display: flex;
}

.nav{
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgba(255,169,13,1);
    animation: burgerAnimation 0.4s;
    color: #eeeeee;
    font-size: 78px;
    font-family: 'Montserat', sans-serif;
    justify-content: center;
}

.nav div{
    flex-direction: column;
    row-gap: 30px;
}