@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.screen_just {
    display: flex;
    justify-content: center;
}

.whole_screen {
    width: 80%;
}

.field {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 10px;
    color: #707070;
    padding-left: 10px;
    margin: 20px 0;
}

.field::placeholder {
    position: absolute;
    left: 0;
    font-size: 19px;
    color: #707070;
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    margin-left: 10px;
}

.field_image {
    display: flex;
}

.button_link {
    border: none;
    background-color: transparent;
}

.link_info {
    text-decoration: none;
    color: #EEEEEE;
}

.buttonImage {
    height: 50px;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.form_button {
    display: grid;
    grid-template-columns: 30% 15%;
    gap: 2vw;
    align-items: center;
}

.add_admin_button {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #eeeeee;
    padding: 10px 15px;
    background-color: #e39600;
    border-radius: 10px;
    white-space: nowrap;
}

.img_name {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    margin-right: 50px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.person_image {
    width: 150px;
    height: 150px;
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 0 15px 0 0;
    margin-top: 2vh;
    width: 100%;
}

.per_name, .per_id {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-left: 2vw;
}

.restaurant_info {
    border: none;
    padding: 10px 15px;
    background-color: #e39600;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #eeeeee;
    white-space: nowrap;
    transition: ease-in 0.2s;
}

.button {
    border: none;
    padding: 10px 15px;
    background-color: #ff7a00;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #eeeeee;
    margin-left: 5vw;
    transition: ease-in 0.2s;
}

.restaurant_info:hover {
    transform: scale(1.1);
}

.button {
    transform: scale(1.1);
}
.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #e39600;
    color: #eeeeee;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    border-radius: 15px;
    width: 30vw;
    height: 40vh;
    z-index: 2;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-color: #e39600 #d9d9d9;
    align-items: center;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in;
    transform: translate(-50%, -50%) scale(1);
}

.hole_info {
    display: block;
    align-items: center;
}

.img_name_popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id_text, .name_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #9a9a9a;
    margin-left: 2vw;
}

.person_image_popup {
    width: 250px;
    height: 250px;
}

.confirm {
    border: none;
    width: 100%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #eeeeee;
    background-color: #e39600;
    border-radius: 10px;
    margin-top: 30px;
}


@media screen and (max-width: 2200px) {
    .restaurant_info {
        margin-left: 15vw;
    }

    .buttons {
        margin-right: 25px;
    }

    .popup .content {
        width: 60vw;
        height: 70vh;
    }
}