body {
    height: 100%;
    margin: 0;
}

#map {
    border-radius: 30px;
}

@media screen and (min-width: 1600px) {
    .map_class {
        height: 60vh;
        width: 60vw;
        margin-top: 2vh;
    }
}

@media screen and (max-width: 1600px) {
    .map_class {
        height: 70vh;
        width: 60vw;
        margin-top: 2vh;
    }
}