.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 300px; /* Ширина блока с элементом меню */
    margin: 10px; /* Отступ между элементами меню */
    padding: 10px;
    border: 1px solid #ccc; /* Рамка для элемента меню */
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    transition: width 0.5s ease;
}

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень при наведении на элемент меню */
    background-color: darkgray;
    width: 350px;
    margin: 10px; /* Отступ между элементами меню */
    padding: 10px;
    border: 1px solid #ccc; /* Рамка для элемента меню */
    border-radius: 5px;
    text-align: center;
}

.item-image {
    width: 100%; /* Ширина изображения */
    height: auto;
    border-radius: 5px;
}

.item-details {
    padding-top: 10px;
}

.item-details p {
    margin: 5px 0; /* Отступы для текста элемента меню */
}

hr {
    margin: 20px 0; /* Отступ между элементами меню */
    border: none;
    border-top: 1px solid #ccc; /* Горизонтальная линия между элементами меню */
}

@media screen and (min-width: 1600px) {
    .item-container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .item-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px){
    .item {
        width: 30vw;
    }
}

@media screen and (max-width: 450px) {
    .item {
        width: 80vw;
        height: 10vh;
    }
    .item-details {
        float: right;
        text-align: center;
    }
    .item-image {
        width: 25vw;
        height: 10vh;
        float: left;
    }
}