@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #eeeeee;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: black;
    cursor:pointer;
    font-size: 25px;
}
select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 150%;
    height: 50px;
    line-height: 3;
    background: #eeeeee;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.select::after {
    content: '\25BE';
    transform: scale(1.5);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #eeeeee;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.whole_screen {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 5vw;
    width: 100%;
    margin-top: 30px;
}

.section_one {
    margin-left: 5vw;
}

.form_align {
    display: grid;
    grid-template-columns: 70% 10%;
    gap: 2vw;
    align-items: center;
}

.restaurant_add_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #eeeeee;
    text-decoration: none;
    width: 150px;
    background-color: #E39600;
    padding: 10px 15px;
    border-radius: 10px;@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0!important;
        background: #eeeeee;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: black;
        cursor:pointer;
        font-size: 25px;
    }
    select::-ms-expand {
        display: none;
    }

    .select {
        position: relative;
        display: flex;
        width: 150%;
        height: 50px;
        line-height: 3;
        background: #eeeeee;
        overflow: hidden;
        border-radius: 10px 0 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
    }
    .select::after {
        content: '\25BE';
        transform: scale(1.5);
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #eeeeee;
        cursor:pointer;
        pointer-events:none;
        transition:.25s all ease;
    }

    .whole_screen {
        display: grid;
        grid-template-columns: 40% 50%;
        gap: 5vw;
        width: 100%;
        margin-top: 30px;
    }

    .section_one {
        margin-left: 5vw;
    }

    .form_align {
        display: grid;
        grid-template-columns: 70% 10%;
        gap: 2vw;
        align-items: center;
    }

    .restaurant_add_button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #eeeeee;
        text-decoration: none;
        width: 150px;
        background-color: #E39600;
        padding: 10px 15px;
        border-radius: 10px;
    }

    .restaurant_number, .restaurant_address {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        padding: 10px;
        margin-left: 15px;
    }

    .rest_section {
        background-color: #d9d9d9;
        display: grid;
        grid-template-columns: 45% 20%;
        gap: 5vw;
        margin-top: 40px;
        border-radius: 15px;
    }

    .rest_buttons {
        display: grid;
        grid-template-columns: 80% 20%;
        gap: 2vw;
        align-items: center;
    }

    .restaurant_info {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #eeeeee;
        text-decoration: none;
        padding: 10px 15px;
        background-color: #E39600;
        border-radius: 10px;
        transition: ease-in 0.2s;
    }

    .restaurant_info:hover {
        transform: scale(1.1);
    }

    .button {
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #eeeeee;
        text-decoration: none;
        background-color: #ff7a00;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        transition: ease-in 0.2s;
    }

    .button:hover {
        transform: scale(1.1);
    }

    .restaurant_number {
        margin-bottom: 5px;
    }

    .restaurant_address {
        margin-top: 5px;
    }

    .restaurant_list {
        margin-top: 40px;
        height: 70vh;
        padding: 0 15px;
        overflow-y: scroll;
        scrollbar-color: #e39600 #d9d9d9;
    }

    .restaurant {
        display: flex;
        align-items: center;
        width: 550px;
        height: 123px;
        justify-content: space-between;
        border-bottom: 3px solid #eeeeee;
    }

    .arrow {
        width: 60px;
        height: 60px;
        transition: ease 0.2s;
    }

    .arrow:hover {
        transform: scale(1.2);
    }

    .choose_city {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
    }

    .filter_button {
        border: none;
        height: 50px;
        width: 80px;
        border-radius: 0 10px 10px 0;
        background-color: #E39600;
        color: #eeeeee;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 10px;
    }

    .sel {
        display: flex;
    }

    .all_info {
        padding-top: 20px;
    }

    .hole_screen {
        display: grid;
        grid-template-columns: 40% 50%;
        grid-column-gap: 5vw;
        margin-bottom: 150px;
    }

    .address_container {
        height: 500px;
        overflow-y: auto;
        width: 650px;
        scrollbar-width: thin;
        scrollbar-color: #E39600 #EEEEEE;
    }

    .restaurants_info {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    #map {
        border-radius: 30px;
        margin-top: 10vh;
    }

    @media screen and (min-width: 1900px) {
        .map_class, .mapFilter_class {
            height: 65vh;
            width: 45vw;
            margin-top: 2vh;
        }
    }

    @media screen and (max-width: 1900px) {
        .whole_screen {
            grid-template-columns: 45% 40%;
            gap: 5vw;
        }

        .form_align {
            display: grid;
            grid-template-columns: 80% 15%;
            align-items: center;
        }

        .restaurant_info {
            white-space: nowrap;
            display: block;
            font-size: 12px;
            width: 160px;
            margin-top: 30px;
        }

        .button {
            margin-top: 10px;
        }

        .rest_section {
            background-color: #d9d9d9;
            display: grid;
            grid-template-columns: 45% 30%;
            gap: 5vw;
            margin-top: 40px;
            border-radius: 15px;
        }

        .rest_buttons {
            display: block;
        }

        .restaurant_list {
            overflow-x: hidden;
            height: 60vh;
        }

        .map_class, .mapFilter_class {
            height: 65vh;
            width: 45vw;
            margin-top: 2vh;
        }

        .restaurant {
            width: 350px;
        }

        .restaurant_number, .restaurant_address {
            font-size: 20px;
        }

        .arrow {
            width: 45px;
            height: 45px;
        }

        select {
            font-size: 20px;
        }

        .select {
            width: 400px;
        }

        .choose_city {
            font-size: 25px;
        }

        .address_container {
            height: 400px;
            overflow-y: auto;
            width: 450px;
        }
    }

}

.restaurant_number, .restaurant_address {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    padding: 10px;
    margin-left: 15px;
}

.rest_section {
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: 45% 20%;
    gap: 5vw;
    margin-top: 40px;
    border-radius: 15px;
}

.rest_buttons {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 2vw;
    align-items: center;
}

.restaurant_info {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #eeeeee;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #E39600;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.restaurant_info:hover {
    transform: scale(1.1);
}

.button {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #eeeeee;
    text-decoration: none;
    background-color: #ff7a00;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    transition: ease-in 0.2s;
}

.button:hover {
    transform: scale(1.1);
}

.restaurant_number {
    margin-bottom: 5px;
}

.restaurant_address {
    margin-top: 5px;
}

.restaurant_list {
    margin-top: 40px;
    height: 70vh;
    padding: 0 15px;
    overflow-y: scroll;
    scrollbar-color: #e39600 #d9d9d9;
}

.restaurant {
    display: flex;
    align-items: center;
    width: 550px;
    height: 123px;
    justify-content: space-between;
    border-bottom: 3px solid #eeeeee;
}

.arrow {
    width: 60px;
    height: 60px;
    transition: ease 0.2s;
}

.arrow:hover {
    transform: scale(1.2);
}

.choose_city {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
}

.filter_button {
    border: none;
    height: 50px;
    width: 80px;
    border-radius: 0 10px 10px 0;
    background-color: #E39600;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.sel {
    display: flex;
}

.all_info {
    padding-top: 20px;
}

.hole_screen {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 5vw;
    margin-bottom: 150px;
}

.address_container {
    height: 500px;
    overflow-y: auto;
    width: 650px;
    scrollbar-width: thin;
    scrollbar-color: #E39600 #EEEEEE;
}

.restaurants_info {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#map {
    border-radius: 30px;
    margin-top: 10vh;
}

@media screen and (min-width: 1900px) {
    .map_class, .mapFilter_class {
        height: 65vh;
        width: 45vw;
        margin-top: 2vh;
    }
}

@media screen and (max-width: 1900px) {
    .whole_screen {
        grid-template-columns: 45% 40%;
        gap: 5vw;
    }

    .form_align {
        display: grid;
        grid-template-columns: 80% 15%;
        align-items: center;
    }

    .restaurant_info {
        white-space: nowrap;
        display: block;
        font-size: 12px;
        width: 160px;
        margin-top: 30px;
    }

    .button {
        margin-top: 10px;
    }

    .rest_section {
        background-color: #d9d9d9;
        display: grid;
        grid-template-columns: 45% 30%;
        gap: 5vw;
        margin-top: 40px;
        border-radius: 15px;
    }

    .rest_buttons {
        display: block;
    }

    .restaurant_list {
        overflow-x: hidden;
        height: 60vh;
    }

    .map_class, .mapFilter_class {
        height: 65vh;
        width: 45vw;
        margin-top: 2vh;
    }

    .restaurant {
        width: 350px;
    }

    .restaurant_number, .restaurant_address {
        font-size: 20px;
    }

    .arrow {
        width: 45px;
        height: 45px;
    }

    select {
        font-size: 20px;
    }

    .select {
        width: 400px;
    }

    .choose_city {
        font-size: 25px;
    }

    .address_container {
        height: 400px;
        overflow-y: auto;
        width: 450px;
    }
}
