<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class = "whole_body">
    <div class = "image_container">
        <img class = "image_fill" src="/images/about_us_img.png" alt="">
        Here can be your picture
    </div>
    <div class = "code_container">
        <p class = "error_code">
            Error
        </p>
    </div>
    <div class = "text_container">
        <p class = "error_text">
        Text of the error
        </p>
    </div>
</div>
</body>
</html>