<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchase</title>
</head>
<body>
    <div th:each="p: ${purchases}">
        <p th:text="${p.getId()}"></p>
        <p th:text="${p.getPromo_code().getCode()}"></p>
        <p th:text="${p.getPayment_way().getDisplayName()}"></p>
        <p th:text="${p.getDelivery_way().getDisplayName()}"></p>
        <p th:text="${p.getStatus().getDisplayName()}"></p>
        <p th:text="${p.getWish()}"></p>
        <p th:text="${p.getRestaurant_id().getAddress()}"></p>
        <p th:text="${p.getRestaurant_id().getAdmin_id().getSystem_username()}"></p>
        <hr>
    </div>
</body>
</html>