<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Адміністратори</title>
    <link rel="stylesheet" type="text/css" href="/css/ownerHeader.css">
    <link rel="stylesheet" type="text/css" href="/css/listAdminsOwner.css">
</head>
<body>
<div th:insert="owner/ownerHeader :: header"></div>


<div class="screen_just">
    <div class="whole_screen">
        <div class="form_button">
            <form id="clientSearch" th:action="@{/owner/admins/filter}" th:method="POST">
                <label for="phone"></label>
                <div class="field_image">
                    <input class="field" type="text" name="phone" id="phone" placeholder="Знайти людину:">
                    <button class="button_link" type="submit"><img class="buttonImage" src="/images/arrow-right-short.png" alt=""></button>
                </div>
            </form>
        </div>

        <div th:if="${admins.isEmpty()}">
            <h1 class="title">Список адміністраторів порожній</h1>
        </div>
        <div class="admins_list" th:unless="${admins.isEmpty()}">
            <div th:each="admin : ${admins}">
                <div class="person">
                    <div class="img_name">
                        <img class="person_image" th:src="@{'data:image/png;base64,' + ${admin.getView_image()}}" alt="">
                        <p class="per_name" th:text="${admin.getName()} + ' ' + ${admin.getSurname()}">Мирослава Потоцька</p>
                    </div>

                    <div class="buttons">
                        <button class="restaurant_info" type="button"><a class="link_info" th:href="'/owner/admins/' + ${admin.getId()}">Переглянути інформацію</a></button>
                        <form th:method="post" th:action="@{/owner/admins/delete/{id}(id=${admin.getId()})}">
                            <button class="button" type="submit">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>