<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Адміністратори</title>
    <link rel="stylesheet" type="text/css" href="/css/ownerHeader.css">
    <link rel="stylesheet" type="text/css" href="/css/listAdminsOwner.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="owner/ownerHeader :: header"></div>


<div class="screen_just">
    <div class="whole_screen">
        <div class="form_button">
            <form id="clientSearch" th:action="@{/owner/admins/filter}" th:method="POST">
                <label for="phone"></label>
                <div class="field_image">
                    <input class="field" type="text" name="phone" id="phone" placeholder="Знайти людину:">
                    <button class="button_link" type="submit"><img class="buttonImage" src="/images/arrow-right-short.png" alt=""></button>
                </div>
            </form>
        </div>

        <div th:if="${admins.isEmpty()}">
            <h1 class="title">Список адміністраторів порожній</h1>
        </div>
        <div class="admins_list" th:unless="${admins.isEmpty()}">
            <div th:each="admin : ${admins}">
                <div class="person">
                    <div class="img_name">
                        <img class="person_image" th:src="@{'data:image/png;base64,' + ${admin.getView_image()}}" alt="">
                        <p class="per_name" th:text="${admin.getName()} + ' ' + ${admin.getSurname()}">Мирослава Потоцька</p>
                    </div>

                    <div class="buttons">
                        <button class="restaurant_info" type="button"><a class="link_info" th:href="'/owner/admins/' + ${admin.getId()}">Переглянути інформацію</a></button>
                        <button class="button" th:attr="data-popup-id='popup-' + ${admin.getId()}"
                                onclick="toggle(this.getAttribute('data-popup-id'))">Видалити</button>
                        <div class="popup" th:id="'popup-' + ${admin.getId()}">
                            <div class="overlay"></div>
                            <div class="content">
                                <div class="close-btn" th:attr="data-popup-id='popup-' + ${admin.getId()}"
                                     onclick="toggle(this.getAttribute('data-popup-id'))">&times;</div>
                                <div class="hole_info">
                                    <div class="img_name_popup">
                                        <img class="person_image_popup" th:src="@{'data:image/png;base64,' + ${admin.getView_image()}}" alt="">
                                        <div class="id_name">
                                            <div class="id_block">
                                                <p class="id_text">Id</p>
                                                <p class="per_id" th:text="${admin.getId()}">123456</p>
                                            </div>
                                            <div class="name_block">
                                                <p class="name_text">Імʼя</p>
                                                <p class="per_name" th:text="${admin.getName()} + ' ' + ${admin.getSurname()}">Мирослава Потоцька</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form th:method="post" th:action="@{/owner/admins/delete/{id}(id=${admin.getId()})}">
                                        <input class="confirm" th:attr="data-popup-id='popup-' + ${admin.getId()}"
                                               onclick="toggle(this.getAttribute('data-popup-id'))" type="submit" value="Підтвердити"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggle(popupId) {
        document.getElementById(popupId).classList.toggle('active');
    }
</script>
</body>
</html>